* {
    font-family: 'inter', courier,arial,helvetica !important;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

.box {
    border-radius: 8px;
    background-color: var(--secondary);
    padding: 16px;
    color: var(--white);
}

.ff-bold {
    color: var(--white);
    font-family: 'inter-bold' !important;
}

.bold {
    font-family: 'inter-bold' !important;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap {
    gap: 5px;
}

.mt-1 {
    margin-top: 5px;
}