:root {
    --primary: #212332;
    --secondary: #2A2D3D;
    --white: #FFFFFF;
    --info: #5DCAED;
    --danger: #FC4788;

    --header-text-size: 5rem;
}

@media (max-width: 2700px) {
    :root {
        --header-text-size: 4rem;
    }
}

@media (max-width: 2500px) {
    :root {
        --header-text-size: 3rem;
    }
}

@media (max-width: 2000px) {
    :root {
        --header-text-size: 2.5rem;
    }
}